%div{:align => "center"}
  %div{:style => "width:50% ",:align => "left"}
    %h4 Reset Password
    %hr{:style=>"width:98%", :align=>"center"}
    = form_tag reset_password_path(@account.id, @account.pass_reset_token), :id => 'change_password_form', :method => :put do
      = label :change_password, :new_password, 'New Password', :class => 'add_event_label'
      = password_field :change_password, 'new_password', required:true
      %br
      = label :change_password, :confirm_new_password, 'Confirm New Password', :class => 'add_event_label'
      = password_field :change_password, 'confirm_new_password', required:true
      %br
      = submit_tag 'Change Password'