%link{:href => "http://fonts.googleapis.com/css?family=Arvo", :rel => "stylesheet", :type => "text/css"}/

%div{:align => "center"}
  %br
  %br
  #forgot_password{:style => "width:40%;padding-top:100px", :align => "left"}
    = form_tag password_reset_request_path, :id => 'resetPasswordForm', :method => :get do
      = label :password_reset, :username, 'Enter username:', :class => 'add_event_label'
      = text_field :password_reset, 'username', required:true
      %br
      = label :password_reset, :email, 'Enter email:', :class => 'add_event_label'
      = text_field :password_reset, 'email', required:true
      %br
      = submit_tag 'Reset Password'