%link{:href => "http://fonts.googleapis.com/css?family=Arvo", :rel => "stylesheet", :type => "text/css"}/
%div
  %div{:align => 'left', :class => 'dashboard_header'}
    %text Events and Activity Tracking System
  %div{:align => 'right', :class => 'dashboard_header'}
    = link_to 'Home', eats_wall_path
    |
    = link_to "Notifications(#{@notif_count})", notifications_path
    |
    = link_to "#{session[:account]['first_name']} #{session[:account]['last_name']}", showProfile_path(session[:account]["id"])
    |
    = link_to 'Log out', log_out_path, :style => "margin-right:10px;"

%div{:align => "center", :style => "border: 5px solid rgb(142,199,183);border-style: groove;padding: 30px;background: rgb(222,239,235);"}
  %div{:style => "width:60%;", :align => "left"}
    %h3{:align => "center", :style => "font-weight:bold"}
      =@event.title
    %hr
    %div{:style=>"float:left;width:50%", :align=>"left"}
      %text Start: 
      %text
        = @event.start.strftime("%B %-d, %Y at %I:%M %p")
    %div{:style=>"float:right;width:50%", :align=>"right"}
      %text End: 
      %text
        = @event.end.strftime("%B %-d, %Y at %I:%M %p")
    %br
    %text
      - if @event.public
        = "Public event"
      - else
        = "Private event"
    %br
    %text Created by:
    =link_to "#{@creator_name.first_name} #{@creator_name.last_name}", "/profile/#{@event.creator}"
    - if @event.is_group_event
      %br
      %text In group: 
      = link_to "#{@group.name}", "/group/#{@group.id}"
    %br
    %text Tags:
    - @event.tags.each do |id, name|
      - if(id.starts_with?("group_"))
        = link_to "#{name}", show_group_profile_path(id.split("_")[1])
      - else
        = link_to "#{name}", showProfile_path(id)
    %br
    %text Description:
    %p{:style => "text-indent:5%"}
      = simple_format(@event.description)
    %div{:align => "right"}
      - if session[:account]["id"] == @event.creator
        %button{:onclick => "editEvent(#{@event.id})",:style => "background-color: rgb(142,199,183);"} Edit
        %a{:href => "#{delete_event_path(@event.id)}"}
          %button{:style => "background-color: rgb(142,199,183);"} Delete
      - elsif @event.tags.has_key?(session[:account]["id"])
        = button_to 'Remove me from tags', remove_tag_path(@event.id, session[:account]["id"]), method: :delete
- if session[:account]["id"] == @event.creator
  %div#edit_event_form_div_div.add_event_form-div
    %div.add_event_form-content
      %span.add_event_form-close{:onclick => "hideEditEventForm()"} ×
      %div#edit_event_form_div