!!!
%html
  %head
    %title Events and Activities Tracking System
    = stylesheet_link_tag 'application', 'media' => 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body{:style => 'margin:0;'}
    %div
      %div{:align => 'left', :class => 'dashboard_header'}
        %text Events and Activity Tracking System
      %div{:align => 'right', :class => 'dashboard_header'}
        = link_to 'Home', eats_wall_path
        |
        = link_to "Notifications(#{@notif_count})", notifications_path
        |
        = link_to "#{session[:account]['first_name']} #{session[:account]['last_name']}", showProfile_path(session[:account]["id"])
        |
        = link_to 'Log out', log_out_path, :style => "margin-right:10px;"
    %div
      %div.nav_bar
        %br
        %div
          %h6 Search
          %input{:type => 'text', :oninput => 'suggestInput(this.id)', :id => 'search_bar'}
          %br
          %select{:id => 'search_suggestion_list', :onchange => 'searchListChange(this)'}
            %option{:value => 'null'}
              = "--"
          %h6 Searches:
          %div{:id => 'search_list', :style => 'max-width:200px'}
            %input{:type => 'text', :id => 'search_ids', :style => 'display:none'}
        %hr{:style => 'width:90%;'}
        %br
        %button#add_event_button{:onclick => "showAddEventForm()"} Create Event
        %hr{:style => 'width:90%'}
        %div
          %h6 Groups
          - @groups.each do |group|
            = link_to "#{group.name}", show_group_profile_path(group.id)
            %br
        %button#create_group_button{:onclick => "showCreateGroupForm()"} Create Group
      
      %div.yield
        = yield