!!!
%html
  %link{:href => "http://fonts.googleapis.com/css?family=Arvo", :rel => "stylesheet", :type => "text/css"}/
  %head
    %link{:href => "/assets/calendar.png", :rel => "shortcut icon", :type => "image/x-icon"}/  
    %title Events and Activities Tracking System
    = stylesheet_link_tag 'application', 'media' => 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body{:style => 'margin:0;'}
    %div
      - if flash[:notice]
        #notice.message= flash[:notice]
      - elsif flash[:warning]
        #warning.message= flash[:warning]
    %div
      %div{:align => 'left', :class => 'dashboard_header'}	         
        %text{:style => "font-weight:bold;text-shadow:3px 2px rgba(0,0,0,0.4);"} Events and Activity Tracking System
      %div{:align => 'right', :class => 'dashboard_header'}
        = link_to 'Home', eats_wall_path
        |
        = link_to "Notifications(#{@notif_count})", notifications_path
        |
        = link_to "#{session[:account]['first_name']} #{session[:account]['last_name']}", showProfile_path(session[:account]["id"])
        |
        = link_to 'Log out', log_out_path, :style => "margin-right:10px;"
    %div
      %div.nav_bar
        %br
        %div
          %h6{:style => "font-weight: bold;"} Search
          %input{:type => 'text', :oninput => 'suggestInput(this.id)', :id => 'search_bar', :style => "background-color:rgb(211,212,209)"}
          %br
          %select{:id => 'search_suggestion_list', :onchange => 'searchListChange(this)',:style => "background-color:rgb(142,199,183)"}
            %option{:value => 'null'}
              = "--"
          %h6{:style => "font-weight: bold;"} Searches:
          %div{:id => 'search_list', :style => 'max-width:200px'}
            %input#search_ids{:style => "display:none", :type => "text"}/
        %hr{:style => 'width:90%;'}
        %br
        %button#add_event_button{:onclick => "showAddEventForm()", :style => "background-color: rgb(142,199,183)"} Create Event
        %hr{:style => 'width:90%;'}
        %div
          %h6{:style => "font-weight: bold;"} Groups
          - @groups.each do |group|
            = link_to "#{group.name}", show_group_profile_path(group.id)
            %br
        %button#create_group_button{:onclick => "showCreateGroupForm()",:style => "background-color: rgb(142,199,183)"} Create Group
      
      %div.yield
        = yield